@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --sidebar-background: 0 0% 94%;
    --foreground: 240 10% 0%;

    --card: 0 0% 99%;
    --card-foreground: 240 10% 0%;

    /* --popover: 0 0% 96%; */
    --popover: 0 0% 99%;
    --popover-foreground: 240 10% 0%;

    --primary: 210 11% 15%;
    --primary-foreground: 210 17% 98%;
    --primary-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(253, 29, 29, 1) 100%);

    --secondary: 240 4.8% 91.9%;
    --secondary-foreground: 240 5.9% 10%;
    --secondary-gradient: linear-gradient(var(--gray10), #fafafa);

    --muted: 240 5.8% 93.9%;
    --muted-high: 240 4.8% 95.9%;
    --muted-low: 240 4.8% 90.9%;
    --muted-foreground: 240 3.8% 69.1%;

    --accent: 220 81% 55%;
    --accent-foreground: 0 0% 98%;

    --positive: 142 71% 45%;
    --positive-foreground: 140 5% 98%;

    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90.5%;
    --input: 240 5.9% 90%;
    --ring: 215 99% 74%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 0% 11%;
    /* --background: 240 5% 10%; */
    --sidebar-background: 30 0% 11%;
    --foreground: 0 0% 97%;
    --card: 30 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 30 0% 10%;
    --popover-foreground: 0 0% 98%;

    --primary: 210 17% 98%;
    --primary-foreground: 210 11% 14%;
    --primary-gradient: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(253, 29, 29, 1) 100%);

    --secondary: 240 3.7% 17.9%;
    --secondary-foreground: 0 0% 98%;
    --secondary-gradient: linear-gradient(var(--gray10), #fafafa);

    --muted: 30 0% 20%;
    --muted-high: 30 0% 22%;
    --muted-low: 30 0% 18%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 215 70% 54%;
    --accent-foreground: 216.2 83.2% 98%;

    --positive: 142 64% 60%;
    --positive-foreground: 144 33% 12%;

    --destructive: 0 67.22% 50.59%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5% 20.9%;
    --input: 240 5% 30.9%;
    --ring: 215 99% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
